.specializations-container {
  text-align: center;
  padding: 60px 20px;
  color: #333;
  background-color: #f7f7f7;
  border-top: 5px solid #6a0dad;
  border-bottom: 5px solid #6a0dad;
}

.specializations {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 40px;
  gap: 20px;
  flex-wrap: wrap;
}

.specialization-card {
  color: #fff;
  background: linear-gradient(135deg, #6a0dad, #8a2be2);
  border-radius: 15px;
  padding: 30px;
  width: 100%;
  max-width: 30%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.specialization-card p {
  color: #f0f0f0;
  margin-bottom: 20px;
  line-height: 1.5;
}

.specialization-title {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.specialization-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .specializations {
    justify-content: center;
  }
  .specialization-card {
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .specialization-card {
    max-width: 100%;
  }
  .specializations-container h2 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .specialization-title {
    font-size: 1.2em;
  }
  .specialization-card {
    padding: 20px;
  }
}
