.clients-container {
  width: 100%;
  overflow: hidden;
  background-color: white;
  text-align: center;
  padding-bottom: 50px;
}

.clients-container h1 {
  margin: 2em;
  color: black;
}

.clients {
  display: flex;
  /* animation: scroll 5s linear infinite; */
}

.client {
  display: flex;
  gap: 40px;
  flex-shrink: 0;
}

.client img {
  height: 60px;
  object-fit: contain;
}
/* 
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
} */

.clients:hover {
  animation-play-state: paused;
}
